body{
    display: flex;
    justify-content: center;
}
.parentHome{
    min-height: calc(100%-60px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}
.page{
    width: 100vh;
    height: 100vh;
    margin: auto;
}